*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
    /* background-color: #1e1e1e; */
    font-family: 'raleway';
    color: white;
    background-image: url(./images/full\ background.png);
    background-size: cover;
}
h2{
  font-size: 2.3rem;
}
p{
  font-size: 1.5rem;
  text-align: justify;
}
@font-face {
    font-family: 'raleway';
    src: url('./Raleway-VariableFont_wght.ttf');
  }
  a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #9553FF;
  }
  i{
    font-size: 30px;
  }
  .hamburger{
    display: none !important;
  }
  header{
    z-index: 3;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 10px;
  }
  .navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  }
  
  .navbar-menu {
  display: flex;
  list-style: none;
  position: absolute;  
  z-index: 2;  
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  }
  
  .navbar-toggle{
display: inline-block;
background: none;
border: none;
cursor: pointer;
display: flex;
align-items: center;
transition: transform 0.3s ease;
transition: background-color 0.3s ease;
margin-left: auto;
background: rgba(255, 255, 255, 0.6);
backdrop-filter: blur(10px);
padding: 10px;
border-radius: 15px;
}
  .navbar-toggle i{
  font-size: 30px;
  }
  .navbar-item {
background: rgba(255, 255, 255, 0.6);
backdrop-filter: blur(30px);
display: inline-block;
height: 100%;
width: 100%;
text-align: center;
opacity: 0;
margin-right: 0px;
opacity: 1;
transition: opacity 0.3s ease;
}
.navbar-toggle:hover{
    background-color: #9553FF;
}
  
  .navbar-item:last-child {
  margin-right: 0;
  }
  
  .navbar-item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-size: 25px;
  }
.navbar-menu-open {
    display: flex;
    opacity: 1;
    visibility: visible;
}  




.vh{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center .title{
    font-size: 7rem;
    line-height: 5rem;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(149, 83, 255, 0.25), rgba(255, 140, 0, 0.25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.center .subtitle{
    font-size: 2.3rem;
    line-height: 1.5rem;
    font-weight: bold;
}
.center .subtitle i{
  font-size: 2.5rem;
}
.center .subtitle span{
    color: #9553FF;
    font-size: 2.3rem;
}
.center .calltoaction{
    margin-top: 10px;
    width: 90%;
    max-width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center .calltoaction div{
    width: 100%;
    height: 100%;

}
.center .calltoaction div a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    transition: ease-in-out all .1s;
}
.center .calltoaction div a:hover{
    background-color: white;
    color: #9553FF;
    font-weight: bold;
}
.center .calltoaction div .cv{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.center .calltoaction div .contact{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.fixed{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    width: 60%;
    transform: translate(-50%);
    border-top: 1px solid none;
    border-left: 1px solid none;
    border-right: 1px solid none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 20;
    max-width: 300px;
}
.fixed i{
    font-size: 22px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.fixed a{
  color: white;
}
.fa-behance:hover{
  color: #1769FF ;
}
.fa-linkedin-in:hover{
  color: #0A66C2;
}
.fa-twitter:hover{
  color: #1DA1F2;
}
.fa-youtube:hover{
  color: #ff0000;
}

 @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 20px 0;
    background: transparent;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), transparent);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), transparent);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

.secondvh{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondvh article{
    width: 95%;
    max-width: 1400px;
    padding: 10px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.secondvh article h2{
    width: 100%;
    text-align: center;
}
.secondvh article div{
    width: 100%;
    max-width: 400px;
    height: 400px;
    background-color: gray;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
.secondvh article div img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}
.secondvh article div img:hover{
  transform: scale(1.2);
}
.secondvh article div:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.thirdvh article{
  width: 95%;
  max-width: 1400px;
  padding: 10px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.thirdvh h2{
  width: 100%;
  text-align: center;
}
.thirdvh p{
  display: inline-block;
  width: 500px;
  line-height: 1.9rem;
}
.thirdvh figure{
  width: 100%;
  max-width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}
.thirdvh figure img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.thirdvh figure:hover img{
  transform: scale(1.2);
}
.fourvh {
  position: relative;
}
.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.text-container h2{
  font-size: 12vw;
  max-width: 1400px;
  text-align: center;
  opacity: .2;
  line-height: 14rem;
}
.login-box {
  z-index: 2;
  width: 90%;
  max-width: 400px;
  padding: 40px;
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  height: 400px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}
.send__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box form button {
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  cursor: pointer;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #9553FF;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #9553FF,
              0 0 25px #9553FF,
              0 0 50px #9553FF,
              0 0 100px #9553FF;
}
@media only screen and (max-width: 480px) {
  *{
    font-size: 9px;
  }
}